//$_burger-bar-color: #000; // header.scss
//$_burger-bar-color-hover: #555; // header.scss

$color-black: #000;
$color-white: #fff;
$color-light-gray: #ebebeb;
$color-gray: #7f7f80;
$color-dark-blue: #81b7e3;
$color-blue: #b3dcfd;
