@import "./abstract/variables";
@import "./abstract/mixins";
@import "./abstract/responsive";

$bg-mobile: url("@img/hero-main-mobile.jpg");
$bg-desktop: url("@img/hero-main-desktop.jpg");

$bg-advantages-mobile: url("@img/advantages-mobile.jpg");
$bg-advantages-desktop: url("@img/advantages-desktop.jpg");

$bg-contacts-mobile: url("@img/contacts-mobile.jpg");
$bg-contacts-desktop: url("@img/contacts-desktop.jpg");

@import "./base/fonts";
@import "./base/normalize.scss";
@import "./base/global.scss";

@import "./sections/header";
@import "./sections/main-index";
@import "./blocks/search";
@import "./blocks/about";
@import "./blocks/form";
@import "./sections/footer";
